#instructions_input {
    height: 80px;
    width: 40%;
}

body {
    background-color: #69D20D;
}

.label {
    font-size: 20px;
}

.link {
    font-size: 18px;
}

.account_list {
    font-size: 20px;
}
